<form class="form-horizontal fill-up validatable" id="box_alterar_senha" action="xhr.html?a=usuario/alterar_senha&id=<!-- $id -->">
    <div class="row-fluid">
        <div class="span12">
            <div class="padded separate-sections">

                <div class="control-group">
                    <label class="control-label">Senha </label>
                    <div class="controls">
                        <div class="input-append">
                            <input name="senha" id="senha_alterada" type="password" placeholder="Senha" class="validate[required,minSize[4]]" />

                            <span class="add-on" id="ver_senha">
                                <i class="icon-eye-open"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="div_senha" class="hide"></div>
                <div class="control-group">
                    <label class="control-label">Confirmação</label>
                    <div class="controls">
                        <div class="input-append">
                            <input name="confirmacao" id="confirmacao" type="password" placeholder="Confirmação" class="validate[required,equals[senha_alterada],minSize[4]]" />

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-blue" name="submit" value="salvar">Salvar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <div class="pull-right">

            <button type="button" class="btn btn-green" id="gerar_senha">Gerar Senha</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#openbox #modal-formLabel").html('Alterar senha do <!-- $apelido -->');

        $("#box_alterar_senha").validate_modal();

        $("#ver_senha").click(function() {
            if ($("#senha_alterada").is("[type=password]")) {
                $("#senha_alterada").attr("type", "text");
            } else {
                $("#senha_alterada").attr("type", "password");
            }

        });

        $("#gerar_senha").click(function() {
            $("#div_senha").easypassgen({
                'syllables': 3,
                'numbers': true,
                'specialchars': false
            });
            var senha_gerada = $("#div_senha").text();

            $("#senha_alterada").val(senha_gerada);
            $("#confirmacao").val(senha_gerada);
            $("#senha_alterada").attr("type", "text");
            
        });



    })
</script>