<div class="row-fluid">

    <div class="span12">
        <div class="box">
            <div class="box-header">
                <ul class="nav nav-tabs nav-tabs-left">
                    <li class="active"><a href="#dados" data-toggle="tab"><i class="icon-home"></i>Dados</a></li>
                    <li><a href="#produtos" data-toggle="tab"><i class="icon-home"></i>Permissão em produtos</a></li>

                </ul>

                <div class="title"><!-- $nome --></div>
            </div>

            <div class="box-content padded">
                <div class="tab-content">
                    <div class="tab-pane active" id="dados">
                        <div class="box">

                            <div class="box-content">

                                <form class="form-horizontal fill-up validatable" id="cadastrar_usuario" method="post">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="padded">

                                                <div class="control-group">
                                                    <label class="control-label">Nome</label>
                                                    <div class="controls">
                                                        <input name="nome" id="nome" type="text" placeholder="Nome" value="<!-- $nome -->" class="validate[required,minSize[4]]" />

                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Apelido</label>
                                                    <div class="controls">
                                                        <input name="apelido" id="apelido" type="text" placeholder="Apelido" value="<!-- $apelido -->" class="validate[required,minSize[4]]" />

                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Telefone</label>
                                                    <div class="controls">
                                                        <input name="telefone" id="telefone" type="text" placeholder="Telefone" value="<!-- $telefone -->" class="validate[required,minSize[4]]" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="padded">
                                                <div class="control-group">
                                                    <label class="control-label">Email</label>
                                                    <div class="controls">
                                                        <input name="email" id="email" readonly="readonly" type="text" placeholder="Email" value="<!-- $email -->" class="validate[required,minSize[4]]" />

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-blue" name="submit" value="salvar">Salvar</button>
                                        <a class="btn btn-default" href="index.html?a=usuario/index">Voltar</a>
                                        <div class="pull-right">
                                            <div>
                                                <a href="xhr.html?a=usuario/alterar_senha&id=<!-- $id -->"  class="btn btn-green openbox">Atualizar senha</a>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="produtos">
                        <div class="container-fluid padded">
                            <!--big normal buttons-->
                            <div class="action-nav-normal">

                                <div class="row-fluid">
                                    <div class="span1 action-nav-button">
                                        <a href="index.html?a=produto/cadastrar" title="Novo produto">
                                            <i class="icon-file-alt"></i>
                                            <span>Novo</span>
                                        </a>
                                        <span class="triangle-button red"><i class="icon-plus"></i></span>
                                    </div>
                                    <div class="span1 action-nav-button">
                                        <a id="apagar" href="#" title="Apagar Usuários selecionados">
                                            <i class="icon-remove"></i>
                                            <span>Apagar</span>
                                        </a>
                                        <span class="triangle-button red"><i class="icon-minus"></i></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <form id="listagem" method="post">
                                <table class="table table-normal">
                                    <thead>
                                        <tr>
                                            <td width="20"><input type="checkbox" class="icheck allcheck" rel="marca-id" /></td>
                                            <td>Projeto</td>
                                            <td>Perfil acesso</td>
                                            <td width="40"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- each ($produtos) u1 -->
                                        <tr>
                                            <td><input name="id[]" type="checkbox" class="icheck checkchild" /></td>
                                            <td><!-- $u1.produto_nome --></td>
                                            <td><!-- $u1.perfil_acesso_nome --></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-mini btn-default" href="index.html?a=usuario/alterar&id=" title="Editar usuários selecionados"><i class="icon-cog"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- end u1 -->
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">
                                                <div class="pagination pagination-centered">
                                                    <ul>
                                                        <!-- each ($paginas) p1 -->
                                                        <!-- if ($p1(ativo) == "1") pa_$p1(id) -->
                                                        <li class="active"><a href="javascript:;"><!-- $p1.nome --></a></li>
                                                        <!-- else pa_$p1(id) -->
                                                        <li><a href="javascript:;" class="troca-pagina" rel="<!-- $p1.id -->"><!-- $p1.nome --></a></li>
                                                        <!-- end pa_$p1(id) -->
                                                        <!-- end p1 -->
                                                    </ul>
                                                </div>
                                            </td>
                                        <tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>