<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-header">
                <ul class="nav nav-tabs nav-tabs-left">
                    <li class="active"><a href="#dados" data-toggle="tab"><i class="icon-home"></i>Dados</a></li>
                </ul>
                <div class="title"><!-- $nome --></div>
            </div>
            <div class="box-content padded">
                <div class="tab-content">
                    <div class="tab-pane active" id="dados">
                        <div class="box">
                            <div class="box-content">

                                <form class="form-horizontal fill-up validatable" id="cadastrar_usuario" method="post">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="padded">

                                                <div class="control-group">
                                                    <label class="control-label">Nome</label>
                                                    <div class="controls">
                                                        <input name="nome" id="nome" type="text" value="<!-- $nome -->" class="validate[required,minSize[4]]" />
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Apelido</label>
                                                    <div class="controls">
                                                        <input name="apelido" id="apelido" type="text" value="<!-- $apelido -->" class="validate[required,minSize[4]]" />
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Telefone</label>
                                                    <div class="controls">
                                                        <input name="telefone" id="telefone" type="text" value="<!-- $telefone -->" class="validate[required,minSize[4]]" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="padded">

                                                <div class="control-group">
                                                    <label class="control-label">Email</label>
                                                    <div class="controls">
                                                        <input name="email" id="email" type="text" value="<!-- $email -->" class="validate[required,minSize[4]]" />
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Senha</label>
                                                    <div class="controls">
                                                        <input name="senha" id="senha" type="password" class="validate[required,minSize[4]]" />
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Confirmação</label>
                                                    <div class="controls">
                                                        <input name="confirmacao" id="confirmacao" type="password" class="validate[required,minSize[4],equals[senha]]" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-blue" name="submit" value="salvar">Salvar</button>
                                        <a class="btn btn-default" href="index.html?a=usuario/index">Voltar</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>