<div class="row-fluid">

    <div class="span12">
        <div class="box">
            <div class="box-header">
                <ul class="nav nav-tabs nav-tabs-left">
                    <li class="active"><a href="#dados" data-toggle="tab"><i class="icon-home"></i>Dados</a></li>
                </ul>

                <div class="title"><!-- $nome --></div>
            </div>

            <div class="box-content padded">
                <div class="tab-content">
                    <div class="tab-pane active" id="dados">
                        <div class="box">
                            <div class="box-content">

                                <form class="form-horizontal fill-up validatable" id="cadastrar_produto" method="post">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="padded">

                                                <div class="control-group">
                                                    <label class="control-label">Nome</label>
                                                    <div class="controls">
                                                        <input name="nome" id="nome" type="text" placeholder="Nome" value="<!-- $nome -->" class="validate[required,minSize[4]]" />

                                                    </div>
                                                </div>

                                                <div class="control-group">


                                                    <label class="control-label">Plano</label>
                                                    <div class="controls">
                                                        <select class="chzn-select" rel="<!-- $plano_id -->" name="plano_id">
                                                            <option value="">Sem relacionamento</option>
                                                            <!-- each ($planos) p1 -->

                                                            <option value="<!-- $p1.id -->"><!-- $p1.nome --></option>

                                                            <!-- end p1 -->
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="control-group">


                                                    <label class="control-label">Sistema</label>
                                                    <div class="controls">
                                                        <select class="chzn-select" rel="<!-- $sistema_id -->" name="sistema_id">
                                                            <option value="">Sem relacionamento</option>
                                                            <!-- each ($sistemas) s1 -->

                                                            <option value="<!-- $s1.id -->"><!-- $s1.nome --></option>

                                                            <!-- end s1 -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-blue" name="submit" value="salvar">Salvar</button>
                                        <a class="btn btn-default" href="index.html?a=produto/index">Voltar</a>

                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>