<div class="container-fluid padded">
    <div class="action-nav-normal">
        <div class="row-fluid">
            <div class="span1 action-nav-button">
                <a href="index.html?a=produto/cadastrar" title="Cadastrar produto"><i class="icon-file-alt"></i><span>Novo</span></a>
                <span class="triangle-button red"><i class="icon-plus"></i></span>
            </div>
            <div class="span1 action-nav-button">
                <a href="xhr.html?a=produto/remover" id="apagar" title="Apagar produtos selecionados"><i class="icon-remove"></i><span>Apagar</span></a>
                <span class="triangle-button red"><i class="icon-minus"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span9" id="tabela">
        <div class="box">
            <div class="box-header">
                <div class="title">Lista de produtos</div>
                <ul class="box-toolbar">
                    <li class="toolbar-link"><a href="#" class="filtrar"><i class="icon-filter"></i> Filtrar</a></li>
                </ul>
            </div>
            <div class="box-content">
                <form id="listagem" method="post">
                    <table class="table table-normal">
                        <thead>
                            <tr>
                                <td width="20"><input type="checkbox" class="icheck allcheck" rel="marca-id" /></td>
                                <td>Nome</td>
                                <td width="40"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- each ($produtos) e1 -->
                            <tr>
                                <td><input name="id[]" type="checkbox" class="icheck checkchild" value="<!-- $e1.id -->" /></td>
                                <td><!-- $e1.nome --></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-mini btn-default" href="index.html?a=produto/alterar&id=<!-- $e1.id -->" title="Editar produto"><i class="icon-cog"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <!-- end e1 -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div class="pagination pagination-centered">
                                        <ul>
                                            <!-- each ($paginas) p1 -->
                                            <!-- if ($p1(ativo) == "1") pa_$p1(id) -->
                                            <li class="active"><a href="javascript:;"><!-- $p1.nome --></a></li>
                                            <!-- else pa_$p1(id) -->
                                            <li><a href="javascript:;" class="troca-pagina" rel="<!-- $p1.id -->"><!-- $p1.nome --></a></li>
                                            <!-- end pa_$p1(id) -->
                                            <!-- end p1 -->
                                        </ul>
                                    </div>
                                </td>
                            <tr>
                        </tfoot>
                    </table>
                </form>

            </div>
        </div>
    </div>
    <div class="span3" id="filtro">
        <div class="box">
            <div class="box-header">
                <div class="title"><i class="icon-filter"></i> Filtrar</div>
                <ul class="box-toolbar">
                    <li class="toolbar-link"><a href="#" class="filtrar"><i class="icon-remove"></i></a></li>
                </ul>
            </div>
            <div class="box-content">

                <form class="fill-up" method="post" action="xhr.html?a=produto/index">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="padded">

                                <div class="control-group">
                                    <label class="control-label">Nome</label>
                                    <div class="controls">
                                        <input name="nome" id="nome" type="text" placeholder="Nome" value="<!-- $nome -->" class="validate[required,minSize[4]]" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" name="filtrar" value="1" class="btn btn-blue">Pesquisar</button>
                        <button type="submit" name="filtrar" value="0" class="btn btn-gray">Redefinir</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // apaga itens da listagem
    $("#apagar").click(function() {
        var href = $(this).attr("href");
        if ($.isnull(href) == false) {
            $("#listagem").attr("action", href).submit();
        }
        return false;
    });
    // filtro avancado
    $.filtrar = function() {
        if ($("#filtro").is(':hidden')) {
            $("#filtro").show();
            $("#tabela").removeClass('span12').addClass('span9');
        } else {
            $("#filtro").hide();
            $("#tabela").removeClass('span9').addClass('span12');
        }
    };
    $(".filtrar").click(function() {
        $.filtrar();
    });
<!-- if ($filtrar != "1") ff -->
    $.filtrar();
<!-- end ff -->
</script>