<div class="row-fluid">

    <div class="span12">
        <div class="box">
            <div class="box-header">
                <ul class="nav nav-tabs nav-tabs-left">
                    <li class="active"><a href="#dados" data-toggle="tab"><i class="icon-home"></i>Dados</a></li>
                    <li><a href="#modulos" data-toggle="tab"><i class="icon-home"></i>Módulos</a></li>

                </ul>

                <div class="title"><!-- $nome--></div>
            </div>

            <div class="box-content padded">
                <div class="tab-content">
                    <div class="tab-pane active" id="dados">
                        <div class="box">

                            <div class="box-content">

                                <form class="form-horizontal fill-up validatable" id="cadastrar_perfil_acesso" method="post">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="padded">

                                                <div class="control-group">
                                                    <label class="control-label">Nome</label>
                                                    <div class="controls">
                                                        <input name="nome" id="nome" type="text" placeholder="Nome" value="<!-- $nome -->" class="validate[required,minSize[4]]" />

                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <label class="control-label">Nível</label>
                                                    <div class="controls">
                                                        <input name="nivel" id="nivel" type="text" placeholder="Nível" value="<!-- $nivel -->" class="validate[required,minSize[1]]" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-blue" name="submit" value="salvar">Salvar</button>
                                        <a class="btn btn-default" href="index.html?a=perfil_acesso/index">Voltar</a>

                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane active" id="modulos"></div>
                </div>

            </div>

        </div>
    </div>
</div>