/* 
    Document   : custom
    Created on : 16/05/2013, 14:54:05
    Author     : heron
    Description:
        Purpose of the stylesheet follows.
*/

/*------------------------------------------------------------------
[ Back to Top / #back-to-top ]
*/
#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    display: block;
    background: #222;
    background: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#back-to-top:hover {
    text-decoration: none;
    background-color: #F90;
    background: rgba(255, 153, 0, 0.75);
}

#back-to-top i {
    color: #fff;
}

/*------------------------------------------------------------------
[1. Max Width: 767px]
*/
@media (max-width: 767px) {

    #back-to-top {
        display: none !important;
    }

}

/*table input[type="radio"], table input[type="checkbox"] {
    margin: inherit;
}*/

table .icheckbox_flat-aero, .iradio_flat-aero {
    margin-top: 5px;
}