<div class="row-fluid">

    <div class="span12">
        <div class="box">
            <div class="box-header">
                <ul class="nav nav-tabs nav-tabs-left">
                    <li class="active"><a href="#dados" data-toggle="tab"><i class="icon-home"></i>Dados</a></li>
                </ul>

                <div class="title"><!-- $nome --></div>
            </div>

            <div class="box-content padded">
                <div class="tab-content">
                    <div class="tab-pane active" id="dados">
                        <div class="box">
                            <div class="box-content">

                                <form class="form-horizontal fill-up validatable" id="cadastrar_modulo" method="post">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="padded">

                                                <div class="control-group">
                                                    <label class="control-label">Nome</label>
                                                    <div class="controls">
                                                        <input name="nome" id="nome" type="text" placeholder="Nome" class="validate[required,minSize[4]]" value="<!-- $nome -->" />

                                                    </div>
                                                </div>



                                                <div class="control-group">
                                                    <label class="control-label">Caminho</label>
                                                    <div class="controls">
                                                        <input name="caminho" id="caminho" type="text" placeholder="Caminho" value="<!-- $caminho -->"  />
                                                    </div>
                                                </div>


                                                <div class="control-group">


                                                    <label class="control-label">Módulo pai</label>
                                                    <div class="controls">
                                                        <select class="chzn-select" name="modulo_id">
                                                            <option value="">Sem relacionamento</option>
                                                            <!-- each ($modulos) m1 -->

                                                            <option value="<!-- $m1.id -->"><!-- $m1.nome --></option>

                                                            <!-- end m1 -->
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="padded">
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input name="modal" type="checkbox" class="icheck" id="icheck1">
                                                        <label for="icheck1">Modal</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="padded">
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input name="navbar" type="checkbox" class="icheck" id="icheck2">
                                                        <label for="icheck2">Menu principal</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="padded">
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input name="navuser" type="checkbox" class="icheck" id="icheck3">
                                                        <label for="icheck3">Menu do usuário</label>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-blue" name="submit" value="salvar">Salvar</button>
                                        <a class="btn btn-default" href="index.html?a=modulo/index">Voltar</a>

                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>