<!-- if ($msgbox != "") m1 --> 
<div id="modal-simple" class="modal hide fade msgbox">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- if ($layout_titulo != "") nn -->
        <h6 id="modal-tablesLabel"><!-- decode($layout_titulo) --></h6>
        <!-- else nn -->
        <h6 id="modal-tablesLabel"><!-- decode($pagina_titulo) --></h6>
        <!-- end nn -->
    </div>
    <div class="modal-body">
        <!-- decode($msgbox) -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
</div>
<!-- end m1 -->